@model IEnumerable<BlogApplication.Models.Blog>
@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="container blog-posts">


    <div class="main-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">

                <button type="button" class="btn btn-dark">Search</button>

            </div>
        </div>
    </div>


    <br>

    <div class="row">

        @foreach (var item in Model)
         {
            <div class="blog-post-card card col-lg-4 col-md-6">
                <img class="card-img-top" src="assets/images/developer.jpg" alt="Card image cap">
                <div class="card-body bg-light">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.title)</h3>
                    <div class="mb-1 text-muted">11.11.11</div>
                    <p>@Html.DisplayFor(modelItem => item.content_short)</p>
                    <a href="#" class="btn btn-warning btn-block">Read on</a>
                </div>
            </div>
        }
    </div>
</main>



<!--
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
-->
